
.centerDiv{
    justify-content: center;
    display: flex;
    
    
}
.navContainer{
    justify-content: center !important; 
    
    
   
}

.navCol-sm{
    margin-bottom: 10px;
}

.searchBar{
    flex-flow: nowrap; 
    justify-content:center;  
}

.my-2{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.h6Nav{
    white-space: nowrap;
    margin-top: 8px;
    margin-right: 5px;
}

.h6Cap{
    margin-bottom: -2px; 
}

.capDetails{
    margin-top: -35px;
    margin-left: 70px;
    font-size: 12px;
    font-weight: 500;
}



.createBtn{
    margin-left: 25px;
}

.capsule{
    justify-content: center; 
    display: flex;
}

.capUserDetails, .capUserDetails2{
    font-weight: 800;
}

#date{
    margin-bottom: 5px;
}






